/*
  But :    projet 307
  Auteur : esther pham
  Date :   06.06.2023/ V1.0
*/
body {
  background-color: grey;
}

#container {
  background-color: white;
  width: 90%;
  padding: 1em;
  border: 1px solid black;
  margin: auto;
  font-family: Verdana, Arial, serif;
}

/* pour aligner les champs du formulaire */
.user-form {
  /*  padding: 0em;*/
}

.user-form .field {
  padding: 0.5em;
  background: #eeeeee;
}

.user-form .field label {
  display: inline-block;
  width: 10em;
}

.user-form .field input,radio {
  display: inline-block;
}

#langue {
  display: inline-block;
}


.but-valider {
    font-size: 1em;
    width: 7em;
    border-radius: 1em;
    background-color: greenyellow;
    margin-top: 15px;
}

.but-invalider {
  font-size: 1em;
  width: 7em;
  border-radius: 1em;
  background-color: red;
  margin-top: 15px;
  color: white;
}

/* .user-form input[type=button] {
  font-size: 1em;
  width: 7em;
  border-radius: 1em;
  background-color: greenyellow;
  margin-top: 15px;
} */

#creer {
  text-decoration: none;
  padding-left: 252px;
}
