/*
  But :    projet 307
  Auteur : esther pham
  Date :   06.06.2023/ V1.0
  couleur palette : #2B8091 / #40b29f / #54e3ad / #89e7d0 / #f5faff / 92c582 / fdffe0 / 86a5a9
*/
body {
  background-color: #2B8091;
}
#container {
  background-color: #86a5a9;
  width: 90%;
  padding: 1em;
  border: 1px solid black;
  margin: auto;
  font-family: Verdana, Arial, serif;
}
h1 {
  text-align: center;
  color: black;
}
#choixCat {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.choixCatBtn{
  background-color: #9abcc0;
}
.imgBtn{
  width: 80%;
  margin-top: 10%;
}
#creaturesListe{
  margin: 2%;
}
.miseEnForme{
  margin: 2%;
  display: flex;
  background-color: #d8c09b;
  padding: 2%;
  border: ;
}
img{
  margin-right: 2%;
}
.retourChoixCat{
  width: 10%;
  
}