/*
  But :    projet 307
  Auteur : esther pham
  Date :   06.06.2023/ V1.0
  couleur palette : #2B8091 / #40b29f / #54e3ad / #89e7d0 / #f5faff / 92c582 / fdffe0 / 86a5a9
*/
body {
  background-color: #2B8091;
}
#container {
  background-color: #86a5a9;
  width: 90%;
  border: 1px solid black;
  margin: auto;
  font-family: Verdana, Arial, serif;
  align-items: center;
}
h1 {
  text-align: center;
  color: black;
}
#choixCat {
  margin: auto;
  width: 80%;  
}
#miseEnFormeBtn{
  display: flex;
  gap: 1em;
}
.choixCatBtn{
  background-color: #9abcc0;
}
.imgBtn{
  width: 80%;
  margin-top: 10%;
}
.listes{
  margin: 2%;
}
.miseEnForme{
  margin: 2%;
  display: flex;
  background-color: #d8c09b;
  padding: 2%;
}
img{
  margin-right: 2%;
}
.retourChoixCat{
  background-color: #eed8bb;
  color: black;
  border: solid;
  border-width: 1px;
}
footer{
  display: flex;
}
.imgFooterChoix{
  width: 10%;
  bottom: 0;
  left: 0;
  margin-top: 1em;
}
#choixCat{
  margin-bottom: 1em;
}
#auteur{
  margin-top: 4.5em;
}
.choixCatBtn{
  transition: all 0.4s;
}
.choixCatBtn:hover{
  transform: scale(1.09);
}