<!DOCTYPE html>
<!--
    But :    page de choix des catégories 
    Auteur : esther pham
    Date :   06.06.2023 / V1.0
-->
<h1>Bienvenue, choisissez une catégorie</h1>
<div id="choixCat">
  <div id="miseEnFormeBtn">
    <button id="btnCreatures" class="choixCatBtn">
      <div>
        <img src="images/creatures.png" alt="creatures.png" class="imgBtn">
        <h2>Créatures</h2>
      </div>
      <div id="creatures"></div>
    </button>
    <button id="btnEquipement" class="choixCatBtn">
      <div>
        <img src="images/equipment.png" alt="equipment.png" class="imgBtn">
        <h2>Equipment</h2>
      </div>
    </button>
    <button class="choixCatBtn">
      <div id="btnMateriels">
        <img src="images/materials.png" alt="materials.png" class="imgBtn">
        <h2>Matériels</h2>
      </div>
    </button>
    <button id="btnMonstres" class="choixCatBtn">
      <div>
        <img src="images/monsters.png" alt="monsters.png" class="imgBtn">
        <h2>Monstres</h2>
      </div>
    </button>
    <button id="btnTresor" class="choixCatBtn">
      <div>
        <img src="images/treasure.png" alt="treasure.png" class="imgBtn">
        <h2>Trésors</h2>
      </div>
    </button>
  </div>
  <footer>
    <img src="images/zelda_link.png" alt="zelda_link.png" class="imgFooterChoix">
    <p id="auteur">Esther Pham - apprentie informatique</p>
  </footer>
</div>