<!DOCTYPE html>
<!--
    But :    page de choix des catégories 
    Auteur : esther pham
    Date :   06.06.2023 / V1.0
-->
<html>
    <head>
       <meta charset="utf-8">
       <link rel= "stylesheet" href= ""/>
       <title>choix des catégories</title>
    </head>
    <body>
        <div id="container">
            <button>
                <div>
                    <img src="../images/creatures.png" alt="creatures.png">
                        <h1>Creatures</h1>
                </div>
            </button>
            <button>
                <div>
                    <img src="../images/equipment.png" alt="equipment.png">
                        <h1>Equipment</h1>
                </div>
            </button>
            <button>
                <div>
                    <img src="../images/materials.png" alt="materials.png">
                        <h1>Matériels</h1>
                </div>
            </button>
            <button>
                <div>
                    <img src="../images/monsters.png" alt="monsters.png">
                        <h1>Monsters</h1>
                </div>
            </button>
            <button>
                <div>
                    <img src="../images/treasure.png" alt="treasure.png">
                        <h1>Treasure</h1>
                </div>
            </button>
        </div>
    </body>
</html>